.edit-post-container { 
  margin: 20px 10px;
}

.edited-post-textarea {
  width: 100%;
  height: 80px;
  font-size: 14px;
  padding: 5px;
  resize: none;
}

.edit-post-save-btn {
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 22px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
  padding: 8px 12px;
  font-size: 15px;
}

.edit-post-save-btn:hover {
  border: 2px solid #007bff;
  background-color: transparent;
  color: black;
  transition: all 0.15s ease-in-out;
}

.edit-post-cancel-btn {
  background-color: #dc3545;
  border: 2px solid #dc3545;
  border-radius: 22px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
  padding: 8px 12px;
  font-size: 15px;
}

.edit-post-cancel-btn:hover {
  border: 2px solid #dc3545;
  background-color: transparent;
  color: black;
  font-weight: bold;
  transition: all 0.15s ease-in-out;
}
